desktop.ini
.venv
*venv*
*test*
models/*
!test_ds.csv
!models/.gitkeep
memoria/imagenes/*-eps-converted-to.pdf
memoria/imagenes/figures.ai
memoria/*.*
!memoria/TFG_Ignacio_AC_100429045.tex
!memoria/TFG_Ignacio_AC_100429045.pdf

